.win-alert{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding: 20px;
}

.p1-win-alert{
    font-size: 60px;
    color: darkcyan;
    font-weight: bolder;
    user-select: none;
    filter:brightness(500%)
}
.p2-win-alert{
    font-size: 60px;
    color: darkcyan;
    font-weight: bolder;
    user-select: none;
    filter: brightness(500%)
}